@import "../../variables";

.navigation {
    padding: 10px;
    background-color: $purple;
    color: $cream;
    list-style-type: none;
    width: 10vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: fixed;
}

@media only screen and (max-width: 600px){
    .navigation {
        display: none;
    }
}